<template name="samplePage">
    <div class="container">
      <h1>Lorem Ipsum</h1>
      <div class="row">
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet urna non est imperdiet consequat. Praesent interdum porta tempor. Ut vel purus id orci maximus rutrum. Sed accumsan, augue eu rhoncus tempor, est lacus porttitor nunc, sit amet pulvinar mi ipsum nec ipsum. Aliquam quis mi justo. Donec pretium dui ut nibh lacinia commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tincidunt bibendum arcu eu elementum. Aliquam diam velit, consectetur in quam nec, posuere interdum sem. Duis sit amet tellus ac augue aliquet scelerisque.</p>
        </div>
        <div class="col-md-4">
          <p>Aliquam erat volutpat. Sed in enim id justo sagittis mattis. Donec tincidunt risus lectus, id egestas mauris fermentum scelerisque. Sed sodales elit luctus quam tincidunt eleifend. Praesent dignissim venenatis eros, ac pellentesque quam ultricies vitae. Sed sit amet pulvinar nisl. Sed lacinia nulla sit amet ipsum finibus convallis. Morbi sem neque, interdum non diam sit amet, sodales dignissim nunc. Vestibulum at lectus augue. Proin tellus urna, vehicula non lobortis ut, tempor ut tortor.</p>
        </div>
        <div class="col-md-4">
          <p>Suspendisse mollis accumsan massa ut euismod. Suspendisse interdum interdum cursus. In vel diam et augue dictum vulputate ut vel nisl. Mauris non ex est. Nulla ullamcorper nibh ut odio lacinia faucibus. Vestibulum euismod nec magna nec porta. Phasellus a sapien mattis, rutrum ligula ac, maximus ante. Pellentesque convallis non ante a consectetur.</p>
        </div>
      </div>
    </div>
</template>
