<template name="betaRedeemModal">
  <div class="modal fade" id="beta-redeem-modal" tabindex="-1" role="dialog" aria-labelledby="beta-request-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Beta Account Signup</h4>
        </div>
        <div class="modal-body">
          <form id="beta-redeem-form">
            <div class="form-group">
              <label for="redeem-email">Email address</label>
              <input type="email" id="redeem-email" class="form-control" name="emailAddressSignup" placeholder="Enter your e-mail address">
            </div>
            <div class="form-group">
              <label for="redeem-password">Password</label>
              <input type="password" id="redeem-password" class="form-control" name="password" placeholder="Enter a password">
            </div>
            <div class="form-group">
              <label for="redeem-verify">Verify password</label>
              <input type="password" id="redeem-verify" class="form-control" name="verify" placeholder="Verify password">
            </div>
            <div class="form-group">
              <label for="redeem-token">Beta invite token</label>
              <input type="text" id="redeem-token" class="form-control" name="betaToken" placeholder="Enter beta token" value="{{betaToken}}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="beta-redeem-submit" class="btn btn-primary">Create account</button>
        </div>
      </div>
    </div>
  </div>
</template>
