<template name="betaButtons">
  <div class="beta-buttons">
    <button class="btn btn-lg btn-primary beta-request" data-toggle="modal" data-target="#beta-request-modal">
      Signup for the Beta
    </button><br>
    <a class="beta-redeem" data-toggle="modal" data-target="#beta-redeem-modal">
      Do you have a beta token?
    </a>
  </div>

  <div class="modal fade" id="beta-request-modal" tabindex="-1" role="dialog" aria-labelledby="beta-request-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Signup for the Beta</h4>
        </div>
        <div class="modal-body">
          <form id="beta-request-form" class="email-form">
            <input type="email" name="emailAddress" class="form-control" placeholder="Enter your e-mail address">
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Request beta token</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="beta-redeem-modal" tabindex="-1" role="dialog" aria-labelledby="beta-request-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Redeem beta token</h4>
        </div>
        <div class="modal-body">
          <input type="email" class="form-control" placeholder="Enter your e-mail address">
          <input type="password" class="form-control" placeholder="Enter a password">
          <input type="password" class="form-control" placeholder="Verify password">
          <input type="text" class="form-control" placeholder="Enter beta token">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Create account</button>
        </div>
      </div>
    </div>
  </div>
</template>
