<template name="betaRequestModal">
  <div class="modal fade" id="beta-request-modal" tabindex="-1" role="dialog" aria-labelledby="beta-request-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Request Beta Invite</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info">
            <strong>Hi there!</strong> Please enter your e-mail address and we'll notify you when your beta account is ready.
          </div>
          <form id="beta-request-form" class="email-form">
            <div class="form-group">
              <label for="request-email">E-mail address</label>
              <input type="email" name="emailAddress" id="request-email" class="form-control" placeholder="Enter your e-mail address">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" id="beta-request-submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>
