<template name="navbar">
  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">{{AppData.name}}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
            {{#with activeMenu 'dashboard'}}
              <li class="{{activeClass}} dashboard"><a href="{{pathFor 'dashboard'}}">Dashboard {{{activeSpan}}}</a></li>
            {{/with}}
            {{#with activeMenu 'samplePage'}}
              <li class="{{activeClass}} samplePage"><a href="{{pathFor 'samplePage'}}">Sample Page {{{activeSpan}}}</a></li>
            {{/with}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Notifications <span class="badge">0</span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="disabled"><a><em>No notifications!</em></a></li>
              </ul>
            </li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if isInRole 'admin'}}
            {{> adminMenu}}
          {{/if}}
          {{> loginButtons}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </header>
</template>
